<?xml version="1.0"?>
<config>
    <modules>
        <ForeverNew_MegaMenu>
            <version>1.0.0</version>
        </ForeverNew_MegaMenu>
    </modules>
    <global>
        <helpers>
            <forevernew_megamenu>
                <class>ForeverNew_MegaMenu_Helper</class>
            </forevernew_megamenu>
        </helpers>
        <blocks>
            <forevernew_megamenu>
                <class>ForeverNew_MegaMenu_Block</class>
            </forevernew_megamenu>
        </blocks>
        <models>
            <forevernew_megamenu>
                <class>ForeverNew_MegaMenu_Model</class>
                <resourceModel>forevernew_megamenu_mysql4</resourceModel>
            </forevernew_megamenu>
            <forevernew_megamenu_mysql4>
                <class>ForeverNew_MageMenu_Model_Mysql4</class>
                <entities>
                    <custommenu>
                        <table>forevernew_megamenu_custommenu</table>
                    </custommenu>
                </entities>
            </forevernew_megamenu_mysql4>
        </models>
        <resources>
            <forevernew_megamenu_setup>
                <setup>
                    <module>ForeverNew_MegaMenu</module>
                </setup>
            </forevernew_megamenu_setup>
        </resources>
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <forevernew_megamenu>
                        <class>forevernew_megamenu/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </forevernew_megamenu>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <forevernew_megamenu>
               <use>standard</use>
               <args>
                   <module>ForeverNew_MegaMenu</module>
                   <frontName>mgt</frontName>
               </args>
           </forevernew_megamenu>
        </routers>
        -->
        <layout>
            <updates>
                <forevernew_megamenu>
                    <file>forevernew_megamenu.xml</file>
                </forevernew_megamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ForeverNew_MegaMenu before="Mage_Adminhtml">ForeverNew_MegaMenu_Adminhtml</ForeverNew_MegaMenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <forevernew_megamenu>
                    <file>forevernew/megamenu.xml</file>
                </forevernew_megamenu>
            </updates>
        </layout>
    </adminhtml>
    <!--
    <crontab>
        <jobs>
            <forevernew_megamenu_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>forevernew_megamenu/observer::methodName</model>
                </run>
            </forevernew_megamenu_cron>
        </jobs> 
    </crontab>
    -->
</config>
